<% flash.each do |message_type, message_content| %>
  <div class="row col-12 alert <%= message_type == "notice" ? "alert-success" : "alert-danger" %> alert-dismissible fade show" role="alert">
    <strong> <%= message_content %> </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>