<div class="container row bg-white shadow rounded">
  <div class="col-12 text-center my-3 h-500"> 
    <h1> Welcome to Stock Tracker </h1>
    <%= link_to "My Stocks Portfolio", my_stocks_path, class: "btn btn-success"%>
  </div>
</div>