@import 'bootstrap';
@import "font-awesome";

.form-group {
    background: white;
    border: 5px;
    box-shadow: 10px;
    max-width: 450px;
    align-self: center;
    justify-self: center;
}

.notification {
    margin-left: 20rem !important;
}